* {
			box-sizing: border-box;
			margin : 0;
			padding : 0;
		}
		#header {
			background-color : #111;
			width : 100%;
			position : fixed;
		}
		#header ul{
			margin-right : 1%;
			font-size: 120%;
			text-align : right
		}
		#header ul li{
			display : inline-block;
			padding : 5px;
		}
		#header a{
			text-decoration : none;
			color : 1F8DD6;
		}
		#header .active a{
			font-weight: 400;
			color : white;
		}
		#header a:hover{
			color : #AEA99A;
		}
		#header .navigation-bar{
			padding-top : 0.7%;
			padding-bottom: 0.3%;
		}
		#first-block{
			background-color : #1f8dd6;
			text-align: center;
			text-transform: uppercase;
			color : white;
			width : 100%;
		}
		#first-block .block-heading{
			width : 60%;
			font-size  : 30px;
			border : solid 2px white;
			border-radius : 10px;
			margin-left: 18%;
			padding : 2%;
		}
		#first-block .block-content {
			margin : 4%;
			margin-left : -2%;
		}
		#first-block .block-content a{
			text-decoration : none;
			background-color : white;
			border-radius : 8px;
			color : #1f8dd6;
			padding : 1%; 
		}
		#second-block{
			background-color: white;
			width: 100%;
			line-height: 1.7em;
		}
		#second-block .block-heading{
			text-align : center;
			font-size : 180%;
			padding-bottom : 3%;
			color: #34495e;
		}
		#second-block .sub-content{
			padding : 1%;
			width : 25%;
			margin-left : 4%;
			display : inline-block;
		}
		#second-block .sub-content .sub-content-head{
			padding-bottom: 3%;	
			font-size : 140%;
			color : #1f8dd6;
			font-weight : bold;
		}
		#second-block .sub-content .sub-content-text{
			color : #7f8c8d;
			font-size: 16px;
		}
		#second-block .lower-second-block{
			padding: 2em;
			padding-bottom : -2em;
			background: #2d3e50;
			display: flex;
		}
		#second-block .lower-second-block .block-image{
			padding: 2em;
			padding-bottom : -2em;
			width : 40%;
			height: auto;
			display: inline-block;
			border: none;
			text-align : center;
		}
		#second-block .lower-second-block .block-image img{
			max-width: 53%;
		}
		#second-block .lower-second-block-content{
			display: inline-block;
			width: 60%;
			color: #aaa;
		}
		#second-block .lower-second-block-content .content-head{
			font-weight: 400;
			text-transform: uppercase;
			margin: 2em 0 1em;
		}
		#last-block .last-block-head{
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			margin: 2em 0 0;
			text-align: center;
			color : #34495e;
			font-size : 140%
		}
		#last-block .last-block-content{
			display : flex;
			margin-left: 1%;
		}
		#last-block .last-block-content .form-data{
			width: 40%;
			line-height: 1.7em;
			margin: 0;
			padding: .35em 0 .75em;
			border: 0;
		}
		#last-block .last-block-content .form-data .form-data-label{
			margin: 1em 0 0;
			font-weight: bold;
			font-size: 100%;
			color : #34495e;
		}
		#last-block .last-block-content .form-data input{
			border: 2px solid #ddd;
			border-radius: 5px;
			font-size: 100%;
			width: 100%;
			margin: .25em 0;
			padding: .5em .6em;
		}
		#last-block .last-block-content .form-data button{
			background-color: #1f8dd6;
			color: white;
			padding: 0.5em 2em;
			border-radius: 5px;
		}
		#last-block .last-block-content #lower-block-content-text{
			padding: 2em;
			border : none;
			width: 60%;
		}
		#last-block .last-block-content #lower-block-content-text h4{
			color : #34495e;
			line-height: 1.7em;
			letter-spacing: 0.1em;
			padding-bottom  : 0.5em;
		}
		#last-block .last-block-content #lower-block-content-text p{
			color : #7f8c8d;
			letter-spacing: 0.1em;
		}
		#footer{
			position : fixed;
			background-color : #111;
			color : #7f8c8d;
			bottom: 0;
			width: 100%;
			text-align : center;
		}
		#footer p{
			padding : 0.6em 0.6em;
			margin-top: 0;
			font-size: large;
		}