body{
	background: teal;
	padding: 150px 0;
	color: white;
	text-align: center;
}

#container  #block h2{
	display: inline-block;
	padding: 20px 30px;
	border: solid 2px white;
	margin: auto;
	text-transform: uppercase;
}

#container .layer{
	padding:20px;
}
#conatiner .button{
	display: flex;
	padding: 2px 0 1px 30px;
}

button{
	margin: 1px 20px;
	padding: 5px 11px;
	border: solid 2px white;
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;	
	width: 150px;
}