<div class="container">
    <product-search class="pull-right searching-box"></product-search>
</div>
<div class="container">
    <div style="text-align: center;">
        <h3>Top Products</h3>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let product of products" [class.selected]="product === selectedProduct">
            <div class="card text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a [routerLink]="['/product', product.id]">
                            <h4 class="card-title">{{product.name}}</h4>
                        </a>
                    </div>
                    <div class="panel-body">
                        <span>Rs. {{product.price}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="products.length < 1" style="text-align: center;">
            <h2>Products list is empty.</h2>
        </div>
    </div>
</div>